{% load static %}
<html>
  <head>
    <title>
    	Projects
    </title>    
    /* document meta information and external file include written here */
    <link rel="stylesheet" type="text/css" href="projects.css">
  </head>
  <body>
      /* document body goes here */
      <div class="main">
        <h1>Current Projects</h1>
        {% for proj in projs %}
        <ul class="cards">
          <li class="cards_item">
            <div class="card">
              <div class="card_image"><img src="{{proj.cover_img.url}}"></div>
              <div class="card_content">
                <h2 class="card_title">{{proj.title}}</h2>
                <p class="card_text">{{proj.category}}</p>
                <button class="btn card_btn"><a href="#">More Details</a></button>
              </div>
            </div>
          </li>
        </ul>
      </div>
      {% endfor %}
      <h3 class="made_by">Connectus</h3>
  </body>
</html>